/* Stylesheet definitions specific for SPSS FileManager pages */
body
{
	font-family:Arial;
	background-color:white;
	background-color		:#94BEE7;
	font-size:10;
	scrollbar-arrow-color: #FFFFFF; 
	scrollbar-base-color: #94BEE7;
	scrollbar-face-color: #31569C;
}

a
{
	cursor:hand;
	cursor:pointer;
}

.treeitem
{
	font-size:10pt;
	font-family:Arial;
}

.filelistheader
{
	background-color:Silver;
	border-color: Black;
	border-width: 1;
	font-size: 10pt
}

.filelistitem
{
	border:solid 2px;
	font-size: 10pt
}

.headerbutton
{
	font-family:Arial;
	font-size:10;
	font-weight:bold;
	width:100%
}

.cmdstatusbody
{
	background-color:Silver;
}

.dirfile_selection
{
	font-family:Arial;
	font-size:8pt;
	color:Black;
}

.imagebuttons
{
	border:SOLID 1px;
	border-bottom-color:BLACK;
	border-left-color:WHITE;
	border-top-color:WHITE;
	border-right-color:Black;	
}

.helptext
{
	font-size:10px; 
	color:gray; 
	layer-color:gray;
}


.PopupMessageTable
{
	background-color: Silver;
	border: inset 3px Silver;
	
	margin: 10px;
	font: normal normal bold 14pt Arial;
	
}

/* BELOW THIS POINT IS THE STANDARD STYLES */
.OuterTable
{
	background-color: #EFF7FF;
	border: 3px solid #31569C;

	border-collapse: collapse;
	border-spacing: 0px;
	cell-spacing: 0px;
}

.OuterTableHeading
{
	background-color: #31569C;
	border: 2px solid #31569C;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	padding: 2px;
}

.OuterTableFooting
{
	background-color: #31569C;
	border: 2px solid #31569C;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 8pt;
	font-weight: normal;
	padding: 2px;
}

.InnerTable
{
	width: 100%;
	background-color: #EFF7FF;
}

.InnerTableHeading
{
	background-color: #EFF7FF;
	color: #000066; 
	font-family: Arial;
	font-size:10pt; 
	font-weight: bold;
}

.InnerTableSubHeading
{
	background-color: #EFF7FF;
	color: #000066; 
	font: italic normal 10pt Arial;
}

.InnerTableMainDataDark
{
	background-color: #DDEBF6;
	color: #000066;
	font-family: Arial;
	font-size:8pt;
	font-weight: normal;
	vertical-align: middle;
	padding: 0px 5px 0px 5px;
}

.InnerTableMainData
{
	color: #000066;
	font-family: Arial;
	font-size:8pt;
	font-weight: normal;
	vertical-align: middle;
	padding: 0px 5px 0px 5px;
}

.InnerTableMainDataCtrl
{
	font-family: Arial;
	font-size:8pt;
	font-weight: normal;
}

.InnerTableExplanatory
{
	background-color: #EFF7FF;
	color: #808080;
	font-family: Arial;
	font-size:8pt;
	font-weight: normal;
}
