<configuration>
	<system.web>
		<customErrors mode="Off"/>
		<compilation defaultLanguage="C#" debug="true" numRecompilesBeforeAppRestart="15">
			<assemblies>
				<add assembly="Microsoft.VisualC, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
	</system.web>
</configuration>
