<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.web>

    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation 
         defaultLanguage="c#"
         debug="false"
    />

    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors 
    mode="RemoteOnly" 
    /> 

    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
	<authentication mode="Forms">
		<forms loginUrl="Login/default.aspx">
		</forms>
	</authentication> 

	<authorization>
		<deny users="?" />
	</authorization>

	<identity impersonate="true" />

	<machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate" />

    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="true"
    />

    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;user id=sa;password="
            cookieless="false" 
            timeout="20" 
    />

    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
   />
   
   <httpHandlers>
		<add verb="*" path="EndSession.aspx" type="ManageUsers.HttpHandlers.SessionAbandon,ManageUsers"/>
   </httpHandlers>
   
   <!--  EXECUTION TIMEOUT
          Set the executionTimeout to the maximum amount of time you would like the 
          Activity to be allowed to execute before timing out.
          Remove the comment identifiers around the tag to enable it.
    -->
    <!-- <httpRuntime executionTimeout="90" /> -->
   
 </system.web>

<location path="ApplicationInit.aspx">
	<system.web>
		<authorization>
			<allow users="*" />
		</authorization>
	</system.web>
</location>

	<appSettings>
	<!--	SPSS APPLICATION SETTINGS
			
			Property Key:				Possible Values:	Description:
			=================================================================================================
			SPSS_UserNameRegEx1			<RegExp String>		This defines the first regular expression used 
															when validating new user names. If this value is 
															not defined, then by default the following is used:
															"^[\p{L}\p{Mn}\p{N}\p{Pc}\p{Pd}]+\\*[\p{L}\p{Mn}\p{N}\p{Pc}\p{Pd}.]+$"
															
			SPSS_UserNameRegEx2			<RegExp String>		This defines a second regular expression used
															when validating user names. ManageUsers uses both
															enabling different user name validations for 
															different scenarios. By default, SPSS_UserNameRegEx1 
															is used	to validate NT user names and SPSS_UserNameRegEx2 
															is used to validate email addresses as user names.
															To only allow one type of validation you should make 
															these regular expressions match. 
															By default, if this value is not defined then the 
															following expression is used:
															"^[\p{L}]+([-+.][\p{L}]+)*@[\p{L}]+([-.][\p{L}]+)*\.[\p{L}]+([-.][\p{L}]+)*$"
			
			SPSS_PasswordRegEx			<RegExp String>		This defines the regular expression used when
															validating passwords. By default, if this value is 
															not defined then the following expression is used:
															"^[\p{L}\p{Mn}\p{N}\p{S}\p{P}\p{Zs}]+$"
															Changes must also be made in the following web.config files:
																DimensionNet
																ManageUsers.
															
			SPSS_RoleNameRegEx			<RegExp String>		This defines the regular expression used when 
															validating role names. By default, if this value is
															not defined then the following expression is used:
															"^[\p{L}\p{Mn}\p{N}\p{Pc}]+$"
		
			e.g. <add key="SPSS_UserNameRegEx1" value="^[\p{L}\p{Mn}\p{N}\p{Pc}\p{Pd}]+\\*[\p{L}\p{Mn}\p{N}\p{Pc}\p{Pd}.]+$" />	
			
			PurgeAccessRightsFromDPM	<true or false>		This setting allows the user to define whether user and role
															access rights are removed from DPM when a user or role is removed.
															The default behaviour is to always purge. If the user wishes to not
															purge the rights from DPM then they should add this property and set
															the value to "false".
	-->										
        <add key="DISABLE_USERPROPERTIES" value="false"/>
	</appSettings>
</configuration>
