/* ======================================== 
	Reseller StyleSheet
	- this file extends the _system stylesheet and is to be used for reseller specific styles
	- styles defined in this sheet will override those with the same name/scope in the _system stylesheet
	- do not put global style changes in this file
=========================================*/
body
{
	background-color: #ffffff;
}
#login_section01
{
	position: absolute;
	top: 170px;
}
#login_section02
{
	top: 375px;
	left: 315px;
}